.chat-read-section {
  background-image: url("../../assest/chat-back.jpg");
  /* min-height: 51.6rem; */

  /* min-height: 96vh; */
  /* max-height: 1px; */
  height: 100vh;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 1px;
  overflow-y: auto;
  overflow-x: auto;
  padding-bottom: 150px;
  padding-top: 110px;
  padding: 110px 40px 80px 80px;
}

@media (max-height: 900px) {
  body {
    overflow: hidden;
    padding-bottom: 150px;
  }
}

@media (max-height: 800px) {
  .chat-read-section {
    min-height: 90.6%;
    /* max-height: 1px; */
    padding-bottom: 100px;
  }
}

@media (max-height: 600px) {
  .chat-read-section {
  }
}

.text {
  min-width: 20%;
}

@media (max-width: 768px) {
  .chat-read-section {
  }
}
