.user-profile {
  height: 5rem;
  width: 100%;
  background-color: rgb(38, 43, 46);
  border-bottom: #8a98ac;
  display: grid;
  grid-template-columns: 4.5rem 127rem 5rem;
  padding-top: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.03);
  padding-bottom: 1rem;
}

.profile-img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 0.8rem;
}

.user-name-and-status span {
  color: #ffffff;
}

.user-name-and-status p {
  color: #8a98ac;
}

.chat-read-section {
  background-image: url("../../assest/chat-back.jpg");
  padding: 30px 30px 41px;
  height: calc(92.9vh - 70px);
  overflow: hidden;
}

/* chat bottom */

.chat-bottom {
  background-color: #262b2e;
  padding: 15px 30px;
  height: 6.3vh;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.03);
  border-left: 1px solid rgba(255, 255, 255, 0.03);
}

.message-send-section {
  display: flex;
  color: white;
}

.send-message-div {
}

.send-message-div input {
  background-color: rgba(129, 167, 205, 0.1);
  color: #8a98ac;
  font-size: 1.3rem;
  border: none;
  border-radius: 0;
  padding: 10px 12px;
  width: 125rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.send-and-file-open-icon {
  font-size: 1.6rem;
  padding-top: 2px;
}

.icon-color-hover {
  color: #8a98ac;
}

.icon-color-hover:hover {
  color: #19a299;
  cursor: pointer;
}
