.main-home {
  background-color: #222e35;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
}

.home-info {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  font-size: 32px;
  color: #e9edefe0;
}

.home-info p {
  margin: 0;
}
