.sidebar {
  min-width: 20rem;
  min-height: 100vh;
  background-color: #262b2e;
}

.paen-chat-logo-section {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.contact-section-and-show-view-by-selected-menu {
  overflow: auto;
  border-bottom: #2c3638 solid 1px;
}

.chat-name {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

.chat-logo-text {
  margin-top: 0.7rem;
  margin-left: 0.8rem;
}

.chat-log-out-btn {
  margin-top: 1rem;
  margin-right: 0.8rem;
  color: #8a98ac;
}

.chat-log-out-btn:hover {
  color: #19a299;
}

/* search bar csss */

.search-bar-section {
  height: 3.5rem;
  display: flex;
  padding: 0.5rem 0.4rem 0.5rem 1rem;
  border-bottom: #2c3638 1px solid;
}

.search-input {
  width: 17rem;
  background-color: rgba(129, 167, 205, 0.1);
  color: #8a98ac;
  font-size: 16px;
  padding-left: 20px;
  border: none;
  border-radius: 3px 0 0 3px;
}

.search-btn-contact {
  background-color: rgba(129, 167, 205, 0.1);
  color: inherit;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #8a98ac;
}

textarea:focus,
input:focus {
  outline: none;
}

.logout-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.logout-btn .logout-icon {
  font-size: 19px;
}

.not-search-bar-show {
  height: 3.5rem;
}


@media (max-width: 1240px) {
  .sidebar {
    height: 97vh;
  }
}
