.user-profile {
  height: 5rem;
  width: 100%;
  background-color: rgb(38, 43, 46);
  border-bottom: #8a98ac;
  display: grid;
  grid-template-columns: 4.5rem 127rem 5rem;
  padding-top: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.03);
  padding-bottom: 1rem;
}

.profile-img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 0.8rem;
}

.user-name-and-status span {
  color: #ffffff;
}

.user-name-and-status p {
  color: #8a98ac;
}

.edit-btn {
  color: #8a98ac;
  font-size: 2rem;
  cursor: pointer;
}