.user-profile {
  background-color: rgb(38, 43, 46);
  border-bottom: #8a98ac;
  display: flex;
  padding-top: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.03);
  padding-bottom: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  min-width: -webkit-fill-available;
  padding-bottom: 1rem;
}

.profile-img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 0.8rem;
}

.user-name-and-status span {
  color: #ffffff;
}

.user-name-and-status p {
  color: #8a98ac;
}

.edit-btn {
  color: #8a98ac;
  font-size: 2rem;
  cursor: pointer;
  margin-left: auto;
}

.isUserOnline {
  color: #8a98ac;
  margin: 0;
  padding: 0;
}

.back-btn-to-Contact {
  display: none;
}



@media (max-width: 768px) {
  .back-btn-to-Contact {
    padding-left: 1rem;
    color: #8a98ac;
    cursor: pointer;
    font-size: 1.8rem;
    padding-top: 0.8rem;
  display: block;

  }


}
.back-btn-to-Contact:hover {
  color: #19a299;
}